<!DOCTYPE html>
<html>
<head>
    <h2>Registrationform</h2>
</head>
<body>
    <form>
        <label>Fullname:</label>
        <input type="text" name ="Fullname" required>
        <br></br>
        <label>username:</label>
        <input type="text" name="username" required>
        <br></br>
        <label>email:</label>
        <input type="email" name="email"required>
        <br></br>
        <label>password:</label>
        <input type="      " name="password"required>
        <br></br>
        <lable>confirmpassword</lable>
        <input type="       "name="confirmpassword"required>
        <br></br>
        <label>phonenumber</label>
        <input type="tel" name="phonenumber"required>
        <br><br>
        <label>D.O.B</label>
        <input type="Datename" name="D.O.B"required
        <br></br>
        <label>gender</label>
        <input type="radio" name="gender" value="male" optional>
        <input type="radio" name="gender" value="female" optional>
        <input type="radio" name="gender" value="others" optional
        <br><br>
        <label>address</label>
        <textarea></textarea>
        <br></br>
        <label>state:</label>
        <select>
            <option>madhyapradesh</option>
            <option>kerala</option>
            <option>telangana</option>
            <option>andhrapradesh</option>
        </select>
        <br><br> 
        <label>country:</label>
        <select>
            <option>australia</option>
            <option>uk</option>
            <option>america</option>
            <option>india</option>
        </select>
        <br><br>
        <label>pincode</label>
        <input type="text" name="pincode" required>
        <br><br>
        <label>upload profilepicture</label>
        <input type="file" name="upload" profile picture required>
        <br><br>
        <label>hobbies</label>
         <input type="checkbox" name="hobbies" value="chess"optional>
         <input type="checkbox" name="hobbies" value="singing"optional>
         <input type="checkbox" name="hobbies" value="dancing"optional>
         <br><br>
         <label>terms and conditions</label>
         <input type="checkbox" name="terms and condition">i agree to the term and condition
         <br><br>